<section class="bg-gradient">
  <h2 class="page-subtitle">Customer Information</h2>
</section>
<div class="center question" *ngIf="customer">
  First things first.
  <br>
  <br>
  <form novalidate (ngSubmit)="saveCustomer()" [formGroup]="customerForm">
    <mat-vertical-stepper>
      <mat-step label="What's your name?">
        <div>
          <mat-form-field>
            <input matInput placeholder="First name"
            formControlName="firstName" minlength="3" maxlength="40">
          </mat-form-field>
          <span>&emsp;</span>
          <mat-form-field>
            <input matInput placeholder="Last name"
            formControlName="lastName" name="lastName"  minlength="3" maxlength="40">
          </mat-form-field>
          <br>
          <button mat-button matStepperNext >Next</button>
        </div>
      </mat-step>
      <mat-step label="When were you born?">
        <div>
            <mat-form-field>
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="dp3" formControlName="dob" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field> 
          <br>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="What's your address?">
        <div>
          <mat-form-field>
            <input matInput placeholder="Street Address" 
            formControlName="stAddr" name="stAddr" minlength="10" pattern="^\d+\s[A-z]+\s[A-z]+">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Apt #"
            formControlName="apt" name="apt" minlength="1">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zip Code"
            formControlName="zipCode" name="zipCode" pattern="(^\d{5}$)|(^\d{9}$)|(^\d{5}-\d{4}$)">
          </mat-form-field>
          <br>
          <button mat-button matStepperPrevious>Back</button>
          <button type="submit" mat-button matStepperNext  
          [disabled]="!customerForm.valid || !customerForm.dirty">Next</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>