<section class="bg-gradient">
  <h2 class="page-subtitle">Policy Info</h2>
</section>
<div class="center question">
  Policy Issuance
  <br>
  <br>
  <span *ngIf="policy.policyNumber !== ''">
    The Auto policy has been issued successfully <br>
    Policy Number: {{policy.policyNumber}}</span>
  <form *ngIf="policy.policyNumber === ''">
    <mat-vertical-stepper>
      <mat-step label="Contact Info">
        <mat-form-field>
          <input matInput placeholder="Email" #email="ngModel"
          [(ngModel)]="policy.confirmEmail" name="confirmEmail" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Contact Number" #contact="ngModel"
          [(ngModel)]="policy.confirmContactNum" name="confirmContactNum" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$">
        </mat-form-field>
        <br>
        <div>
          <button mat-button matStepperPrevious (click)="navigate('rate')">Back</button>
          <button mat-button matStepperNext [disabled]="email.value == '' || contact.value == ''">Next</button>
        </div>
      </mat-step>
      <mat-step label="Payment">
        <div>
          <mat-form-field>
            <mat-label>Bank Name</mat-label>
            <mat-select [(ngModel)]="policy.bankName" name="bankName" #bankName="ngModel">
              <mat-option value="CH">
                Chase
              </mat-option>
              <mat-option value="BOA">
                Bank of America
              </mat-option>
              <mat-option value="CO">
                Capital One Bank
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Account Number" #accountNum="ngModel"
            [(ngModel)]="policy.accountNum" name="accountNum" pattern="^\w{1,17}$">
          </mat-form-field>
          <br>
          <button mat-raised-button color="accent" (click)="save()" 
          [disabled]="accountNum.value == '' || bankName.value == ''">Issue</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>