<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- VIN Column -->
  <ng-container matColumnDef="vin">
    <th mat-header-cell *matHeaderCellDef> VIN </th>
    <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.vin}} </td>
  </ng-container>

  <!-- Make Column -->
  <ng-container matColumnDef="make">
    <th mat-header-cell *matHeaderCellDef> Make </th>
    <td mat-cell *matCellDef="let element"> {{element.make}} </td>
  </ng-container>

  <!-- Model Column -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <!-- Mileage Column -->
  <ng-container matColumnDef="mileage">
    <th mat-header-cell *matHeaderCellDef> Mileage </th>
    <td mat-cell *matCellDef="let element"> {{element.mileage}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>