<section class="bg-gradient">
  <h2 class="page-subtitle">Driver Information</h2>
</section>
<div class="center question">
  Tell us more about you!
  <br>
  <br>
  <form novalidate (ngSubmit)="saveDriver()" [formGroup]="driverForm">
    <mat-vertical-stepper>
      <mat-step label="Tell us more about you!">
        <div>
          <mat-form-field>
            <input matInput placeholder="Name"
           formControlName="name" name="name" minlength="3" maxlength="40">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" name="gender">
              <mat-option value="M">
                Male
              </mat-option>
              <mat-option value="F">
                Female
              </mat-option>
              <mat-option value="O">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="maritalStatus" name="maritalStatus">
              <mat-option value="S">
                Single
              </mat-option>
              <mat-option value="M">
                Married
              </mat-option>
              <mat-option value="W">
                Widowed
              </mat-option>
              <mat-option value="S">
                Separated
              </mat-option>
              <mat-option value="D">
                Divorced
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Social Security Number"
            formControlName="ssn" name="ssn" pattern="^\d{3}-\d{2}-\d{4}$">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Employment Status</mat-label>
            <mat-select formControlName="employmentStatus" name="employmentStatus">
              <mat-option value="E">
                Employed
              </mat-option>
              <mat-option value="SE">
                Self-employed
              </mat-option>
              <mat-option value="OW">
                Out of work
              </mat-option>
              <mat-option value="HM">
                Homemaker
              </mat-option>
              <mat-option value="S">
                Student
              </mat-option>
              <mat-option value="R">
                Retired
              </mat-option>
              <mat-option value="U">
                Unable to work
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button matStepperPrevious (click)="navigate('vehicle')">Back</button>
          <button mat-button matStepperNext
          [disabled]="driverForm.value.name == '' || driverForm.value.gender == '' || driverForm.value.maritalStatus == '' || driverForm.value.ssn == '' || driverForm.value.employmentStatus == ''">Next</button>
        </div>
      </mat-step>
      <mat-step label="About your insurance">
        <div>
          <mat-form-field>
            <mat-label class="sm-lbl">Do you currently have auto insurance?</mat-label>
            <mat-select formControlName="currentIns" name="currentIns">
              <mat-option value="Y">
                Yes
              </mat-option>
              <mat-option value="N">
                No
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext
          [disabled]="driverForm.value.currentins == ''">Next</button>
        </div>
      </mat-step>
      <mat-step label="Tell us more about your driving history">
        <div>
          <mat-form-field>
            <mat-label>Date when licensed</mat-label>
            <input matInput [matDatepicker]="dp3" formControlName="licensedDt" name="licensedDt" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field> 
          <br>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext
          [disabled]="driverForm.value.licensedDt == ''">Next</button>
        </div>
      </mat-step>
      <mat-step label="What is the highest level of education you have completed?">
        <div>
          <mat-form-field>
            <mat-select formControlName="education" name="education">
              <mat-option value="T">
                Less than High School
              </mat-option>
              <mat-option value="V">
                Vocational
              </mat-option>
              <mat-option value="H">
                High School
              </mat-option>
              <mat-option value="A">
                Associate
              </mat-option>
              <mat-option value="B">
                Bachelors
              </mat-option>
              <mat-option value="M">
                Masters
              </mat-option>
              <mat-option value="D">
                Doctors
              </mat-option>
              <mat-option value="L">
                Lawyer
              </mat-option>
              <mat-option value="P">
                PhD
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button matStepperPrevious>Back</button>
          <button type="submit" mat-button matStepperNext 
          [disabled]="!driverForm.valid || !driverForm.dirty">Next</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
  <!-- <app-driver-details></app-driver-details> -->
</div>