#primary-header {
    z-index: 50;
    width: 100%;
    min-width: 30rem;
    height: 4rem;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left,#194b93 0%,#215bb0 100%);
    background-image: -moz-linear-gradient(left,#194b93 0%,#215bb0 100%);
    background-image: -o-linear-gradient(left,#194b93 0%,#215bb0 100%);
    background-image: linear-gradient(to right,#194b93 0%,#215bb0 100%);
    color: #fff;
    overflow: hidden;
}

.icon-geico{
    position: absolute;
    height: 6rem;
    width: 15rem;
    font-size: 1.7rem;
    line-height: 4rem;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    left: 48%;
    outline: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: ultra-expanded;
}

.menu{
    position: relative;
    left: 20.5%;;
}

.bg-gradient {
    background-image: linear-gradient(to right,#3773ca 0%,#558de1 100%);
    height: 50px;
    color: whitesmoke;
    padding-top: 80px;
}