<mat-button-toggle-group name="navigation" aria-label="Font Style">
    <mat-button-toggle [routerLink]="['/home']" routerLinkActive="mat-button-toggle-checked">Customer Information</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/vehicle']" routerLinkActive="mat-button-toggle-checked">Vehicles</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/driver']" routerLinkActive="mat-button-toggle-checked">Drivers</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/incident']" routerLinkActive="mat-button-toggle-checked">Incidents</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/rate']" routerLinkActive="mat-button-toggle-checked">Quote</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/policy']" routerLinkActive="mat-button-toggle-checked">Issue</mat-button-toggle>
</mat-button-toggle-group>