<mat-button-toggle-group name="navigation" aria-label="Font Style">
    <mat-button-toggle [routerLink]="['/home']">Customer Information</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/vehicle']">Vehicles</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/driver']">Drivers</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/incident']">Incidents</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/rate']">Quote</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/policy']">Issue</mat-button-toggle>
</mat-button-toggle-group>